
.red{
    background-color: red;
    grid-column: 1/3;
}
.blue{
    background-color: blue;
    grid-column: 3/5;
    color: yellow;
    font-size: 25pt;
}
.green{
    background-color: green;
    grid-column: 1/2;
}
.purple{
    background-color: purple;
    grid-column: 2/5;
    font-size: 24pt;
    color: lightseagreen;
}
.yellow{
    background-color: yellow;
    grid-column: 1/-1;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: lightblue;
    height: 500px;
    grid-gap: 5px;
}
