*{
    margin:0;
}

/* .test-container{
    border: solid;
    height: 250px;
    width: 250px;
    display: inline-block;
} */

.flex-container{
    display:flex;
}
.test-container{
    border: solid;
    height: 250px;
    width: 200px;
    display:inline-block;
}