.box{
    height: 10vh;
    width: 10vw;
    background-color: yellowgreen;
    margin: 5px;
}
.one:hover{
    transition-property: all;
    background-color: cyan;
    transition-duration: 350ms;
}
.two:hover{
    height: 15vh;
    width: 15vw;
    background-color: blue;
    transition-duration: 350ms;
}
.three:hover{
    box-shadow: 2pt 2pt;
    transition-duration: 350ms;
    border-top-left-radius: 10pt;
}
.four:hover{
    opacity: .2;
    box-shadow: 1pt 1pt;
}
.five:hover{
    transform:rotate(8deg)
}
.six:hover{
    transform: scale(2);
    transform: scale(-2);
    transition-duration: 500ms;
}