*{
    margin: 0;
}

.header-container{
    display: flex;
    justify-content: center;
    font-size: 50pt;
    /* border: 1px solid black; */
}

.navbar-container{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    height: 50px;
    align-items: center;
    /* border: 1px solid black; */
}

.navbar-container > a{
    text-decoration: none;
    margin: 0 15px 0 15px;
    color:black;
}

.navbar-container > input{
    height: 60%;
    border-radius: 10px;
}

.home-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 500px;
    text-align: center;
}

.generator-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 8px;
    margin-top: 50px;
    height: 28vh;
}

.generate-button{
    height: 150px;
    width: 400px;
    font-size: 15pt;
    border-radius: 15pt;
    margin-bottom: 28px;
}

.generator-container > button:hover{
    border: 3px solid black;
}

.save-button{
    height: 36px;
    width: 150px;
    margin-top: 24px;
    border-radius: 7pt;
}

.favorites-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 28px;
    grid-gap: 15px;
    align-items: center;
    /* margin-left: 24px; */
    margin-top: 28px;
}

.profile-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 56px;
}

.dark-theme-button{
    width: 400px;
    height: 150px;
    border-radius: 16pt;
    font-size: 18pt;
}

.joke-container{
    height: 150px;
    width: 700px;
}

.favorites-confirmation-false{
    display:none;
}

.favorites-confirmation-true{
    font-size: 10pt;
    margin-top: 2px;
}

@media(max-width: 750px){
    .generate-button{
        width: 320px;
        height: 128px;
    }
    .dark-theme-button{
        width: 320px;
        height: 128px;
    }
    .joke-container{
        width: 375px;
        font-size: 13pt;
    }
}

@media(max-width: 352px){
    .navbar-container{
        height: 51px;
        /* flex-direction: column; */
        padding: 0;
        justify-content: space-around;
    }
    .navbar-container > a{
        padding: 15px;
    }
    .navbar-container > input{
        height: 25px;
    }
    .generate-button{
        width: 288px;
    }
    .dark-theme-button{
        width: 288px;
    }
    .header-container{
        font-size: 40pt;
        margin-top: 8px;
    }
    .joke-container{
        width: auto;
        font-size: 10pt;
    }
    .footer-container{
        margin-top: 0px;
    }
    .home-container{
        grid-auto-rows: 343px;
    }
}

@media(max-width: 321px){
    .generate-button{
        height: 128px;
    }
    .joke-container{
        width:250px;
        font-size: 7pt;
    }
    .navbar-container > a:hover{
        border-bottom: 1px solid black;
    }
    .favorites-container{
        grid-gap: 36px;
        padding: 0px 21px;
    }
}


