*{
    margin: 0;
}

.form-container{
    height: 350px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    width: 500px;
    margin: auto;
}